[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
tweepy = "*"
requests = "*"
pillow = "*"
"mastodon.py" = "*"

[requires]
python_version = "3"

[dev-packages]
pytest = "*"

[scripts]
start = "python -m normalcommenter"
test = "pytest"
