[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
tweepy = "*"
requests = "*"
pillow = "*"

[requires]
python_version = "3.7"

[dev-packages]
pytest = "*"

[scripts]
start = "python -m normalcommenter"
test = "pytest"
